{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-xl-9 col-md-12">
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <div class="row mb-4">
                    {% for post in news %}
                        {% if loop.index0 == 0 %}
                            <div class="col-xl-12 col-md-12">
                                <a href="{{ path('article_item', {slug: post.urlKey}) }}">
                                    <div class="card">
                                        <div class="card-body promo-card">
                                            <div class="promo">
                                                <div class="promo-image">
                                                    <img src="{{ asset('uploads/posts/images/' ~ post.image) }}" alt="" width="950" height="500">
                                                </div>
                                                <div class="promo-content">
                                                    <div class="promo-content__title">
                                                        {{ post.title }}
                                                    </div>
                                                    <div class="promo-content__description">
                                                        {{ post.shortDescription }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="row">
                    {% for post in news  %}
                        {% if loop.index0 != 0 %}
                            <div class="col-xl-6 col-md-6 col-xs-12">
                                <a href="{{ path('article_item', {slug: post.urlKey}) }}">
                                    <div class="card">
                                        <div class="card-body promo-card">
                                            <div class="promo">
                                                <div class="promo-image">
                                                    <img src="{{ asset('uploads/posts/images/' ~ post.image) }}" alt="" width="450" height="300">
                                                </div>
                                                <div class="promo-content">
                                                    <div class="promo-content__title">
                                                        {{ post.title }}
                                                    </div>
                                                    <div class="promo-content__description">
                                                        {{ post.shortDescription }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                {% for post in others %}
                <div class="col-xl-12 col-md-12 other-post">
                    <a href="{{ path('article_item', {slug: post.urlKey}) }}">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-3">
                                <img src="{{ asset('uploads/posts/images/' ~ post.image) }}" alt="{{ post.title }}" width="240">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.shortDescription }}</p>
                                    <p class="card-text"><small  style="color: #b6b6b6;">{{ post.publishedAt | date('d.m.Y H:i:s') }} | {{ post.author.username }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xl-3 col-md-4">
            {% include 'particles/_sidebar.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}
