<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}Home site{% endtrans %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </head>
    <body>
        {% block navigation %}
        <!-- Vertical navbar -->
        <div class="vertical-nav bg-white" id="sidebar">
            <div class="py-4 px-3 mb-4 bg-light">
                <div class="media d-flex align-items-center">
                    <div class="media-body">
                        <h4 class="m-0">Scary site</h4>
                    </div>
                </div>
            </div>

            <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Moderation</p>

            <ul class="nav flex-column bg-white mb-0">
                <li class="nav-item">
                <a href="{{ path('admin') }}" class="nav-link text-dark font-italic {% if app.request.attributes.get('_route') == 'admin' %} bg-light {% endif %}">
                            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                            Dashboard
                        </a>
                </li>
                <li class="nav-item">
                <a href="{{ path('admin_posts_index') }}" class="nav-link text-dark font-italic {% if app.request.attributes.get('_route') == 'admin_posts_index' %} bg-light {% endif %}">
                            <i class="fa fa-pencil-square-o mr-3 text-primary fa-fw"></i>
                            Posts
                        </a>
                </li>
                <li class="nav-item">
                <a href="{{ path('admin_categories_index') }}" class="nav-link text-dark font-italic {% if app.request.attributes.get('_route') == 'admin_categories_index' %} bg-light {% endif %}">
                            <i class="fa fa-list mr-3 text-primary fa-fw"></i>
                            Categories
                        </a>
                </li>
{#                <li class="nav-item">#}
{#                <a href="{{ path('admin_tags_index') }}" class="nav-link text-dark font-italic {% if app.request.attributes.get('_route') == 'admin_tags_index' %} bg-light {% endif %}">#}
{#                            <i class="fa fa-tags mr-3 text-primary fa-fw"></i>#}
{#                            Tags#}
{#                        </a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                <a href="{{ path('admin_comments_index') }}" class="nav-link text-dark font-italic {% if app.request.attributes.get('_route') == 'admin_comments_index' %} bg-light {% endif %}">#}
{#                            <i class="fa fa-comments  mr-3 text-primary fa-fw"></i>#}
{#                            Comments#}
{#                        </a>#}
{#                </li>#}
            </ul>

            <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Site administration</p>

            <ul class="nav flex-column bg-white mb-0">
                <li class="nav-item">
                <a href="{{ path('admin_users_index') }}" class="nav-link text-dark font-italic {% if app.request.attributes.get('_route') == 'admin_users_index' %} bg-light {% endif %}">
                            <i class="fa fa-users mr-3 text-primary fa-fw"></i>
                            Users
                        </a>
                </li>
{#                <li class="nav-item">#}
{#                <a href="{{ path('admin_roles_index') }}" class="nav-link text-dark font-italic {% if app.request.attributes.get('_route') == 'admin_roles_index' %} bg-light {% endif %}">#}
{#                            <i class="fa fa-asterisk mr-3 text-primary fa-fw"></i>#}
{#                            Roles#}
{#                        </a>#}
{#                </li>#}
                <li class="nav-item">
                <a href="{{ path('admin_contact_index') }}" class="nav-link text-dark font-italic {% if app.request.attributes.get('_route') == 'admin_contact_index' %} bg-light {% endif %}">
                            <i class="fa fa-address-book mr-3 text-primary fa-fw"></i>
                            Contact
                        </a>
                </li>
                <li class="nav-item">
                <a href="{{ path('admin_static_page_index') }}" class="nav-link text-dark font-italic {% if app.request.attributes.get('_route') == 'admin_static_page_index' %} bg-light {% endif %}">
                            <i class="fa fa-file-text mr-3 text-primary fa-fw"></i>
                            Static pages
                        </a>
                </li>
                <li class="nav-item">
                <a href="{{ path('admin_settings_index') }}" class="nav-link text-dark font-italic {% if app.request.attributes.get('_route') == 'admin_settings_index' %} bg-light {% endif %}">
                            <i class="fa fa fa-cogs mr-3 text-primary fa-fw"></i>
                            Settings
                        </a>
                </li>
            </ul>
        </div>
        <!-- End vertical navbar -->
        {% endblock %}
        <div class="page-content p-5">
            {% block body %}{% endblock %}
        </div>

        {% block footer %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
            <script src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.9.0,npm/fullcalendar@5.9.0/locales-all.min.js"></script>
        {% endblock %}
    </body>
</html>
