{% extends 'admin/base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h1>Categories</h1>
                    {{ form_start(form) }}
                    <table class="table table-bordered table-light text-center">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Parent</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.id }}</td>
                                <td>{{ category.name }}</td>
                                <td>{{ category.idParent }}</td>
                                <td>
                                    <button
                                            class="btn btn-danger delete-item"
                                            type="button"
                                            data-delete_message="Are you sure you want to delete this category?"
                                            data-delete_url="{{ path('categories_delete', {'id': category.id}) }}">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>-</td>
                            <td>{{ form_widget(form.name) }}</td>
                            <td>{{ form_widget(form.id_parent) }}</td>
                            <td><button class="btn btn-primary" type="submit">Add</button></td>
                        </tr>
                        </tbody>
                    </table>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}