{% extends 'admin/base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Id_parent</th>
                <td>{{ category.idParent }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_categories_index') }}">back to list</a>

    <a href="{{ path('categories_edit', {'id': category.id}) }}">edit</a>

    {{ include('admin/categories/_delete_form.html.twig') }}
{% endblock %}
