<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}Home site{% endtrans %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
        <meta name="description" content="{% block seo_description %}Page description{% endblock %}">
        <meta name="keywords" content="{% block seo_keywords %}Site keywords{% endblock %}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navigation %}
            {# Here will be menu generated with admin panel #}
            <header>
                <div class="header-top">
                    <div class="row">
                        <div class="col-xl-4 header-top__item">
                            <img src="https://via.placeholder.com/120x80?text=Scary+site" alt="Logo" width="120" height="80">
                        </div>
                        <div class="col-xl-4 header-top__item">
                            {# <form id="search-form">
                                <div class="row">
                                    <div class="col-md-9 ">
                                        <input type="text" name="search" input="search" class="form-control" />
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-primary">{% trans %}Search{% endtrans %}</button>
                                    </div>
                                </div>
                            </form> #}
                        </div>
                        <div class="col-xl-4 header-top__item">
                            {% if app.user %}
                                <p>Witaj {{ app.user.username }} | <a href="{{ path('app_logout') }}">{% trans %}Log out{% endtrans %}</a></p>
                            {% else %}
                                <a href="{{ path('app_login') }}" class="btn btn-primary">{% trans %}Login{% endtrans %}</a>
                                <a href="{{ path('app_register') }}" class="btn btn-secondary">{% trans %}Register{% endtrans %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-navigation">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'app_home' %} active {% endif %}">
                            <a class="nav-link" href="/">{% trans %}Home{% endtrans %}</a>
                        </li>
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'articles' or app.request.attributes.get('_route') == 'article' %} active {% endif %}">
                            <a class="nav-link" href="/articles">{% trans %}Articles{% endtrans %}</a>
                        </li>
                        </ul>
                    </div>
                </nav>
                <div class="fixed-navbar" id="fixed-navbar"></div>
            </header>
        {% endblock %}
        {% block body %}{% endblock %}

        {% block footer %}
        <footer class="footer">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h3 class="footer__header">
                        {% trans %}About us{% endtrans %}
                    </h3>
                    <ul>
                        <li><a href="/page/gpdr">{% trans %}GPDR{% endtrans %}</a></li>
                        <li><a href="/page/cookie-policy">{% trans %}Cookie policy{% endtrans %}</a></li>
                        <li><a href="/page/terms-and-conditions">{% trans %}Terms and conditions{% endtrans %}</a></li>
                        <li><a href="/page/about-site">{% trans %}About site{% endtrans %}</a></li>
                        <li><a href="/contact">{% trans %}Contact with developer{% endtrans %}</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h3 class="footer__header">
                        {% trans %}Follow us{% endtrans %}
                    </h3>
                    <ul>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Discord</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h3 class="footer__header">
                        {% trans %}Add to newsletter{% endtrans %}
                    </h3>
                    <form id="newsletter_form" action="/newsletter" method="post">
                        <div class="row">
                            <div class="col-md-8 form-group" style="padding-right: 0; margin-right: 0;">
                                <label for="email mb-2">{% trans %}E-mail address{% endtrans %}</label>
                                <input type="text" name="email" id="email" class="form-control" />
                            </div>
                            <div class="col-md-4 form-group pt-4">
                                <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                Copyright &copy; <a href="https://pawelit.pl" class="">Pawelit.pl</a>
                </div>
            </div>
        </footer>
        {% endblock %}
    </body>
</html>
