 {% extends 'admin/base.html.twig' %}

{% block title %}Contacts!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h1>Contacts</h1>
                    <table class="table table-bordered table-light text-center">
                        <tr>
                            <th>ID</th>
                            <th>First name</th>
                            <th>E-mail</th>
                            <th>Title</th>
                            <th>Created at</th>
                            <th>Seen</th>
                            <th>Action</th>
                        </tr>
                        {% for contact in contacts %}
                            <tr>
                                <td>{{ contact.id }}</td>
                                <td>{{ contact.firstName }}</td>
                                <td>{{ contact.email }}</td>
                                <td>{{ contact.title }}</td>
                                <td>{{ contact.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td>
                                    {% if contact.seen %}
                                        Already seen
                                    {% else %}
                                        New
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('contact_show', {'id': contact.id}) }}" class="btn btn-primary">Show</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
