{% extends 'admin/base.html.twig' %}

{% block title %}Hello SettingsController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Social media</h5>
                    <div class="card-text">
                        <div class="form-group">
                            {{ form_label(form.social_facebook) }}
                            {{ form_widget(form.social_facebook) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.social_instagram) }}
                            {{ form_widget(form.social_instagram) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.social_twitter) }}
                            {{ form_widget(form.social_twitter) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.social_discord) }}
                            {{ form_widget(form.social_discord) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.social_youtube) }}
                            {{ form_widget(form.social_youtube) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Page settings</h5>
                    <div class="card-text">
                        <div class="form-group">
                            {{ form_label(form.page_name) }}
                            {{ form_widget(form.page_name) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.page_description) }}
                            {{ form_widget(form.page_description) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.newsletter_enabled) }}
                            {{ form_label(form.newsletter_enabled) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.show_most_popular_post) }}
                            {{ form_label(form.show_most_popular_post) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
